.header {
  margin-bottom: 20px;
}

.modal-content {
  border-radius: 0px;
}

.modal-content input {
  height: 35px;
  display: block;
  margin-bottom: 5px;
}

.modal-fields *:first-child {
  margin-top: 20px;
}

.modal-fields *:last-child {
  margin-bottom: 20px;
}

.modal-content input[type="date"] {
  height: 40px;
}

.modal {
  display: block;
  height: auto;
  position: fixed;
  z-index: 1029;
  top: -100%;
  bottom: auto;
  left: auto;
  right: auto;
  transition: top 1s;
}

.modal.displayed {
  top: 50px;
}

.modal-button {
  position: relative;
  width: 100%;
  height: 30px;
  border-left: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid transparent;
  border-right: 1px solid black;
  font-weight: bold;
  font-family: inherit;
  font-size: 1em;
  color: rgb(40, 40, 40);
}

.row.button-row {
  margin-left: -1px;
  margin-right: -1px;
}

.button-row > div {
  padding: 0;
}

.button-row > *:first-child .modal-button {
  border-left: 1px solid black;
}

.modal-submit {
  background-color: #23B523;
  border-color: darkgreen;
}

.modal-cancel {
  background-color: #F5F528;
  border-color: rgb(144, 144, 0);
}

.modal-delete {
  background-color: #FF4040;
  border-color: darkred;
}

button.new-contact {
  border: 0;
  font-size: 18pt;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contact {
  height: 350px;
  margin-top: 20px;
}

.contact .notes {
  opacity: 0;
  transition: opacity 0.5s;
}

.caption {
  height: auto;
  min-height: 160px;
  max-height: 160px;
  transition: max-height 0.5s;
}

.contact.selected {
  overflow: visible;
  position: relative;
  z-index: 100;
}

.contact.selected .notes {
  opacity: 1;
}

.contact.selected .caption {
  min-height: 160px;
  max-height: 1000px;
  height: auto;
}
